
<div class="row">
  <h5>{{ name_selected_category }}</h5>
</div>
<div class="row"> 
  <div class="col md4" *ngFor="let product of products ">
    <div class="card" style="width: 18rem;">
      <div class="card-image">
        <img class="card-img-top" src="{{ domain+'/product/'+product.id+'/image/'+product.photos[0]}}" width="200" height="140" alt="Card image cap" *ngIf="product.photos[0] != 'string'">
        <img class="card-img-top" src="https://fidelizacion.federacioncomercioalbacete.com/images/productos/noimage.jpg" width="200" height="140" alt="Card image cap" *ngIf="product.photos[0] == 'string'">
      </div>
      <div class="card-content">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
      <div class="card-action">
        <a href="javascript:void(0);" (click)="add_item_cart( product , 1)" class="center" class="btn btn-primary">Comprar</a> ${{ product.eachPrice}}
      </div>
    </div> 
  </div> 
</div>
