<div class="row">

  <a class="waves-effect waves-light btn">Atras</a>
    <div class="col s12 m7">
       <div class="card">
          <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Acetaminofen Niños</span>
          </div>
        <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
        </div>
            <div class="card-action">
              <a href="#">Comprar</a>
            </div>
      </div>
    </div>
    <div class="col s12 m7">
       <div class="card">
          <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Noxpirin Niños</span>
          </div>
        <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
        </div>
            <div class="card-action">
              <a href="#">Comprar</a>
            </div>
      </div>
    </div>


    <div class="col-md-4"> 
 
  </div> 
  <div class="col-md-4"> 
 
  </div> 
  <div class="col-md-4"> 
 
 
  </div> 
 
  <div class="col-md-4"> 
 
  </div> 
  <div class="col-md-4"> 
 
 
  </div> 
  <div class="col-md-4"> 
 
  </div> 

</div>