<div class="row">
  <h5>CARRITO DE COMPRAS</h5>
</div>
 
  <div class="row">
    <div class="col s14 m4">
      <div class="card">
        <div class="card-image">
          <img src="card-img-top">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Producto 1</p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s20 m4">
      <div class="card">
        <div class="card-image">
          <img src="card-img-top">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Producto 2</p>
        </div>
      </div>
    </div>
  </div>

      <div class="row">
    <div class="col s26 m4">
      <div class="card">
        <div class="card-image">
          <img src="card-img-top">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Producto 3</p>
        </div>
      </div>
    </div>
  </div>

        <div class="row">
    <div class="col s32 m4">
      <div class="card">
        <div class="card-image">
          <img src="card-img-top">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Producto 4</p>
        </div>
      </div>
    </div>
  </div>

         <div class="row">
    <div class="col s38 m4">
      <div class="card">
        <div class="card-image">
          <img src="card-img-top">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Producto 5</p>
        </div>
      </div>
    </div>
  </div>
