<div class="row">
<h5 class="center" style="margin-top: 30px;">
  Registro de Usuario
</h5>
  <div class="col m12 l12" style="height: 50px;"></div>
  <div class="col s12 m2 l2"></div>
  <div class="z-depth-5 col s12 m8 l8" style="background-color: whitesmoke;">

<form class="col s12">
<div class="input-field col s6">
  <input placeholder="Nombre"  id="first_name" type="text" class="validate">
  <label for="first_name">Nombre</label>
</div>
<div class="input-field col s6">
  <input placeholder="Apellido" id="last_name" type="text" class="validate">
  <label for="last_name">Apellido</label>
</div>


<div>
  <p>Seleccione su género</p>

  <input class="with-gap" name="group1" type="radio" id="test1" />
  <label for="test1">Hombre</label>

  <input class="with-gap" name="group1"   type="radio" id="test2"/>
  <label for="test2">Mujer</label>

  <input class="with-gap" name="group1" type="radio" id="test3"/>
  <label for="test3">Otro</label>
</div>

<div class="input-field col s12">
  <input placeholder="E-mail" id="e_mail" type="text" class="validate"  value="" required autofocus>
  <label for="e_mail">E-mail</label>
</div>

<div class="input-field col s12">
  <input placeholder="Edad" id="age" type="text">
  <label for="age"> Edad </label>

</div>


</form>





<div class="input-field col s12" style="text-align: center;">
  <a class="waves-effect waves-light btn #ff8a65 deep-orange lighten-2">Registrarse</a>
</div>

</div>