<div class="row">
    <div class="col m12 l12" style="height: 50px;"></div>
    <div class="col s12 m2 l2"></div>
    <div class="z-depth-4 col s12 m8 l8" style="background-color: white;">
        <div class="panel-heading">
            <h5 class="center" style="margin-top: 30px;">
                Registro de Usuarios
            </h5>
        </div>
        <hr>
        <form #form="ngForm" (ngSubmit)="register(form.value)" class="col s12" role="form">
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" type="text" class="validate" value="" ngModel>
                        <label for="name">Nombre</label>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="lasName" type="text" class="validate" value="" ngModel>
                        <label for="lasName">Apellido</label>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="user" type="email" class="validate" value="" required ngModel>
                        <label for="user">Correo</label>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="row">
                    <p>
                      Género
                    </p>
                    <p>
                      <input class="with-gap" name="group1" type="radio" id="test1" />
                      <label for="test1">Hombre</label>
                    </p>
                    <p> 
                      <input class="with-gap" name="group1" type="radio" id="test2" />
                      <label for="test2">Mujer</label>
                    </p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="age" type="number" class="validate"  ngModel>
                        <label for="age">Edad</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12" style="text-align: center;">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col s12 m4 l4"></div>
</div>