<main style="padding-left: 300px;">
	<app-products></app-products>
</main>
<ul id="slide-out" class="side-nav fixed ">
    <li>
    	<div class="user-view blue darken-1">
			<div class="background">

			</div>
			<a routerLink="/categories" class="brand-logo white-text" *ngIf="is_login">
				<h4>SaludEnCasa</h4>
			</a>
			<span class="white-text name">Bienvenido</span>
			<a href="javascript:void(0);"><span class="white-text email">{{ email_user_login }}</span></a>
	    </div>
	</li>
	<li><a href="javascript:void(0);"><span>Categorías</span></a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('1','Niños')"><i class="material-icons">local_offer</i>Niños</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('2','Mamás')"><i class="material-icons">local_offer</i>Mamás</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('3','Adultos')"><i class="material-icons">local_offer</i>Adultos</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('4','Pomadas')"><i class="material-icons">local_offer</i>Pomadas</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('5','Pastillas')"><i class="material-icons">local_offer</i>Pastillas</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('6','Jarabes')"><i class="material-icons">local_offer</i>Jarabes</a></li>
    <li><div class="divider"></div></li>
    <li><a><i class="material-icons">search</i>Buscar por nombre:</a></li>
    <li>
    	<form #form="ngForm" (ngSubmit)="search(form.value)" class="col s12" role="form">
            <div class="col s12 m12 l12" style="margin-left: 30px; margin-right: 10px;">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" type="text" class="validate" value="" required ngModel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" style="text-align: center;">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </li>
</ul>

<script type="text/javascript">
	$('.button-collapse').sideNav('show');
</script>