<main style="padding-left: 300px;">
	<app-shopping></app-shopping>
	<app-products></app-products>
</main>
<ul id="slide-out" class="side-nav fixed ">
    <li>
    	<div class="user-view blue darken-1">
			<div class="background">

			</div>
			<a routerLink="/categories" class="brand-logo white-text" *ngIf="is_login">
				<h4>SaludEnCasa</h4>
			</a>
			<span class="white-text name">Bienvenido</span>
			<a href="javascript:void(0);"><span class="white-text email">{{ email_user_login }}</span></a>
	    </div>
	</li>
	<li><a href="javascript:void(0);"><span>Categorías</span></a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('1','Niños')"><i class="material-icons">local_offer</i>Niños</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('2','Mamás')"><i class="material-icons">local_offer</i>Mamás</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('3','Adultos')"><i class="material-icons">local_offer</i>Adultos</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('4','Pomadas')"><i class="material-icons">local_offer</i>Pomadas</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('5','Pastillas')"><i class="material-icons">local_offer</i>Pastillas</a></li>
    <li><a href="javascript:void(0);"  (click)="by_category_product('6','Jarabes')"><i class="material-icons">local_offer</i>Jarabes</a></li>
    <li><div class="divider"></div></li>
</ul>

<script type="text/javascript">
	$('.button-collapse').sideNav('show');
</script>