<div class="row">
    <div class="col m12 l12" style="height: 50px;"></div>
    <div class="col s12 m2 l2"></div>
    <div class="z-depth-4 col s12 m8 l8" style="background-color: white;">
        <div class="panel-heading">
            <h5 class="center" style="margin-top: 30px;">
                Salud en Casa
            </h5>
        </div>
        <hr>
        <div class="panel-heading">
            <h5 class="center" style="margin-top: 30px;">
                Usuarios
            </h5>
        </div>
        <form #form="ngForm" (ngSubmit)="login(form.value)" class="col s12" role="form">
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="user" type="text" class="validate" value="" required autofocus ngModel>
                        <label for="user">Usuario</label>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input  type="password" name="password" class="validate" required ngModel>
                          <label for="password">Contraseña</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" style="text-align: center;">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Ingresar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="input-field col s12" style="text-align: center;">
                    <a class="waves-effect waves-light btn #ff8a65 deep-orange lighten-2" routerLink="/register">Registrarse</a>
                 </div>
            </div>
        </form>
    </div>
    <div class="col s12 m4 l4"></div>
</div>