
<div class="row">
<div class="col m12 l12" style="height: 50px;"></div>
<div class="col s12 m2 l2"></div>
<div class="z-depth-4 col s12 m8 l8" style="background-color: white;">
  <div class="panel-heading">
    <h5 class="center" style="margin-top: 30px;">
      Cambio de contraseña
    </h5>
  </div>
  <hr>
  <br>
  <div class=" offset-m3">
    <div class="input-field col s6">
      <input id="oldPassword" type="password" class="validate">
      <label for="oldPassword">Digite su anterior contraseña</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="newPassword" type="password" class="validate">
      <label for="newPassword">Digite su nueva contraseña</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="user" type="text">
      <label for="user">Usuario</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12" style="text-align: center;">
      <a class="btn waves-effect waves-light">Cambiar</a>
    </div>
</div>
</div>
</div>