<nav class="blue darken-1">
    <div class="nav-wrapper">
        <a routerLink="/home" class="brand-logo">SaludEnCasa</a>
        <ul class="right hide-on-med-and-down">
            <li routerLinkActive="active" *ngIf="is_guest"><a routerLink="/">Inicio</a></li>
            <li routerLinkActive="active" *ngIf="is_login"><a routerLink="/products">Productos</a></li>
            <li routerLinkActive="active" *ngIf="is_login"><a routerLink="/change-password">Cambiar contraseña</a></li>
            <li routerLinkActive="active" *ngIf="is_login"><a (click)="logout()">Salir</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>